.decoration{
    border :1px solid grey;
    border-radius:10px;
    background-color:#F5F5F5;
    padding-left:30px;
   
}
.contact-us{
    padding-top:1vh;
    background-color:;
}


.cross-icon{
    height:6vh;
}

form{
    margin:0px;
    padding:0px;
    
}
input{
    
    margin-top:5%;
    width:30vw;
    height:5vh;
    font-size:1em;
}
.contact-sub{
    width:10vw;
    background-color:#88D66C;
    margin-bottom:8vh;
    border-radius:10px;
}